<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">	
	<title>BI4ALL-CANCEL</title>
</head>
<body class="bg">
	<header class="nav-head">
		<div class="container">
			<a href="index.html" class="logo"></a>
			<nav class="nav-bar">
				<ul class="nav-list">
					<li class="nav-items"><a href="book.html" class="nav-links">Book</a></li>
					<li class="nav-items"><a href="cancel.html" class="nav-links">Cancel</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="cancel-content">
		<div class="text-box-cancel">
			<h1 class="text-cancel">Cancel a booking</h1>
		</div>
		<div class="cancel-box">
			<div class="cancel-input">
				<input class="input-text" type="text" id="Delete" placeholder="Meeting ID...">
				<h3 class="explain-text">To cancel a booking, insert the meeting ID you used to authenticate.</h3>
			</div>
		</div>
	</section>
</body>
</html>
